@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  .custom-shadow {
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.48);
    clip-path: inset(0 -100vmax -100vmax -100vmax);
  }
}


body {
  color: #1D1D1B;
  background: #FFFFFF;
}


::-webkit-scrollbar {
  width: 6px;
} 
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #009879;
  border-radius: 5px;
}


/* color selection */
::selection {
  background-color: #009879; /* رنگ پس‌زمینه انتخاب */
  color: white; /* رنگ متن انتخاب‌شده */
}

/* سفارشی کردن برای موبایل (Webkit) */
::-moz-selection {
  background-color: #009879;
  color: white;
}
