@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --radius: 0.5rem;
    --font-dana-regular: "DanaFaNum-Regular";
  }
}


body {
  color: #1D1D1B;
  background: #FFFFFF;
  font-family: var(--font-dana-regular); /* Default Fonts */
}


/* width
::-webkit-scrollbar {
  width: 6px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #EBB100;
  border-radius: 5px;
} */
